{% extends '../base.html' %}

    {% block side_menu %}
            <div class="fix">
            <fieldset>
                <legend>Input credentials:</legend>
                <input type="text" name="ip" id="ip" placeholder="10.174.0.2">
                <input  type="login" name="login" id="login" placeholder="Login">
                <input type="password" name="password" id="password" placeholder="Password">
                {% comment %} <input type="text" name="iplist" id="iplist" placeholder="10.174.0.1, 10.174.0.2"> {% endcomment %}
            </fieldset>
            <fieldset id="devices"><legend >Select NE type:</legend></fieldset>

            <fieldset id="commands">
                <legend>Select checks:</legend>

            </fieldset>
            <div class='buttons'>
                <button class="left-button" onclick="checkAll();">Check All</button>
                <button class="left-button" onclick="uncheckAll()">Uncheck All</button>    
            </div>
            <button class="left-button srun" onclick="runSocket();" type="submit"></button>
            <button class="left-button" onclick="generateHTML()">Download result</button>
            </div>
    {% endblock side_menu %}

    {% block main_block %}
            <h2> Check result will be here: </h2>
    {% endblock main_block %}